{layout ../../../FrontModule/Presenters/templates/@layout.latte}

{block #title}Chyba &ndash; Jiří Pudil{/block}
{block #content}
<h1>Kdo se plíží blízko země,<br>strká čenich, kam by neměl?</h1>
<p class="lede">Moc mě to mrzí, ale na tuhle stránku zkrátka nemůžete.</p>
<p>(kód chyby 403)</p>
