{layout ../../../FrontModule/Presenters/templates/@layout.latte}
{status 404}


{block #content}
<h1>Tyto rýmy v plném znění<br>nejsou právě k nalezení</h1>
<p class="lede">Požadovaná stránka není tam, kde by měla být. Zkontrolujte si prosím, že jste zadali správnou adresu. Pokud jste někde kliknuli na odkaz vedoucí sem, můžete upozornit jeho autora. Pokud došlo k omylu a něco by na téhle adrese být mělo, nezoufejte, dozvím se o tom z e-mailu, který mi právě odešel, a napravím to.</p>
<p>(kód chyby 404)</p>
