{layout ../../../FrontModule/Presenters/templates/@layout.latte}

{block #content}
<h1>Bylo, nebylo a bylo,<br>něco se tu pokazilo</h1>
<p class="lede">Došlo k podivné a velmi nepravděpodobné chybě. Už mě o ní ale letí informovat e-mail a pokusím se ji co nejdřív rozlousknout a napravit.</p>
<p>(kód chyby {$httpCode})</p>
