{layout ../../../FrontModule/Presenters/templates/@layout.latte}

{block #content}
<h1>Rozsypala se mi slova,<br>rychle ale hledám nová</h1>
<p class="lede">Na serveru se něco právě nepovedlo. Už mi odešel e-mail, díky kterému se o chybě dozvím a co nejdřív ji napravím. Zkuste prosím přijít znovu později.</p>
<p>(kód chyby 500)</p>
