{layout ../../../FrontModule/Presenters/templates/@layout.latte}
{status 500}


{block #content}
<h1>Chybička se vloudila</h1>
<p>Na severu došlo k interní chybě. Chyba byla zaznamenána a pokusím se ji co nejdříve napravit. Zkuste to prosím znovu později.</p>
