services:
	# routing
	- Herecsrymy\Application\Routers\RouterFactory
	router: @Herecsrymy\Application\Routers\RouterFactory::createRouter

	# templating
	- Herecsrymy\Texy\TexyFactory

	# factories
	- Herecsrymy\FrontModule\Components\Head\IHeadControlFactory
	- Herecsrymy\FrontModule\Components\Header\IHeaderControlFactory
	- Herecsrymy\FrontModule\Components\MainMenu\IMainMenuControlFactory
	- Herecsrymy\FrontModule\Components\Paging\IPagingControlFactory
	- Herecsrymy\FrontModule\Components\Newsletter\INewsletterControlFactory
	- Herecsrymy\FrontModule\Components\RecentPosts\IRecentPostsControlFactory
	- Herecsrymy\FrontModule\Components\UpcomingEvents\IUpcomingEventsControlFactory
	- Herecsrymy\FrontModule\Components\Calendar\ICalendarControlFactory
	- Herecsrymy\FrontModule\Components\Attachments\IAttachmentsControlFactory
	- {implement: Herecsrymy\FrontModule\Components\Disqus\IDisqusControlFactory, arguments: {shortname: herecsrymy}}
	-
		implement: Herecsrymy\FrontModule\Components\GoogleAnalytics\IGoogleAnalyticsControlFactory
		arguments:
			uaKey: UA-61323350-1
			enabled: %productionMode%

	# admin
	- {implement: Herecsrymy\Forms\IEntityFormFactory, inject: yes, setup: [addProtection]}
	- Herecsrymy\AdminModule\Components\LoginForm\ILoginFormControlFactory
	- Herecsrymy\AdminModule\Components\FlashMessages\IFlashMessagesControlFactory
	- Herecsrymy\AdminModule\Components\ListPosts\IListPostsControlFactory
	- Herecsrymy\AdminModule\Components\FilterPosts\IFilterPostsControlFactory
	- Herecsrymy\AdminModule\Components\EditPost\IEditPostControlFactory
	- Herecsrymy\AdminModule\Components\ListCategories\IListCategoriesControlFactory
	- Herecsrymy\AdminModule\Components\EditCategory\IEditCategoryControlFactory
	- Herecsrymy\AdminModule\Components\ListEvents\IListEventsControlFactory
	- Herecsrymy\AdminModule\Components\EditEvent\IEditEventControlFactory
	- Herecsrymy\AdminModule\Components\ListSubscribers\IListSubscribersControlFactory
	- Herecsrymy\AdminModule\Components\SendNewsletter\ISendNewsletterControlFactory
	- Herecsrymy\AdminModule\Components\ListAttachments\IListAttachmentsControlFactory
	- Herecsrymy\AdminModule\Components\EditAttachment\IEditAttachmentControlFactory

	# files
	- Herecsrymy\Files\FileUploader(%wwwDir%, uploads)

	# sitemap
	- Herecsrymy\Sitemap\SitemapGenerator(safe://%wwwDir%/sitemap.xml)
	- Herecsrymy\Sitemap\SitemapListener
	- Herecsrymy\Console\GenerateSitemapCommand

	# security
	- Herecsrymy\Security\Authenticator
	- Herecsrymy\Console\CreateUserCommand

	# newsletter
	- Herecsrymy\Newsletter\NewsletterSender
	- Herecsrymy\Console\SendNewsletterCommand
	- Herecsrymy\Newsletter\NewsletterListener
	- Herecsrymy\Newsletter\NewsletterQueue
