services:
	# routing
	- Herecsrymy\Application\Routers\RouterFactory
	router: @Herecsrymy\Application\Routers\RouterFactory::createRouter

	# templating
	- Herecsrymy\Texy\TexyFactory

	# factories
	- Herecsrymy\FrontModule\Components\Head\IHeadControlFactory
	- Herecsrymy\FrontModule\Components\Header\IHeaderControlFactory
	- Herecsrymy\FrontModule\Components\MainMenu\IMainMenuControlFactory
	- Herecsrymy\FrontModule\Components\Paging\IPagingControlFactory
	- {implement: Herecsrymy\FrontModule\Components\Disqus\IDisqusControlFactory, arguments: {shortname: herecsrymy}}

	# sitemap
	- Herecsrymy\Sitemap\SitemapGenerator(safe://%wwwDir%/sitemap.xml)
	- {class: Herecsrymy\Sitemap\SitemapListener, tags: [kdyby.subscriber]}
	- {class: Herecsrymy\Console\GenerateSitemapCommand, tags: [kdyby.console.command]}
