@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700;Lora:400,700&subset=latin,latin-ext);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

@blue: #3390e6;
@blue-dark: darken(@blue, 20%);

@serif-font: 'Lora', Georgia, Times, serif;
@sans-font: 'PT Sans', Arial, Helvetica, sans-serif;


body {
	font-family: @serif-font;
	font-size: 1.2em;
	line-height: 1.5;
	padding-top: 3em;
	color: #222;
}

a {
	color: #000;

	&:hover {
		text-decoration: none;
		background: @blue-dark;
		color: #fff;
	}
}

.container {
	max-width: 800px;
	margin: 0 auto;

	@media (max-width: 640px) {
		padding: 0 .5em;
	}
}

.sep {
	margin-bottom: 3em;
}

.hidden {
	display: none;
}

h1 {
	font-family: @sans-font;
	font-weight: 700;
	font-size: 2.3em;
}

h2 {
	font-family: @sans-font;
	font-weight: 700;
	font-size: 1.5em;
	line-height: 1;
}

h3 {
	font-family: @sans-font;
}

p img {
	vertical-align: middle;
}

blockquote {
	border-left: .25em solid #ccc;
	padding-left: 2em;
	font-style: italic;
}

.btn {
	padding: .5em;
	border: 0;
	background: @blue;
	color: #fff;
	text-decoration: none;
	cursor: pointer;

	-moz-appearance: none;
	-webkit-appearance: none;

	&:hover {
		background: @blue-dark;
		color: #fff;
	}
}

.flash {
	margin: 0 0 .2em;
	padding: .33em;
	font-size: .8em;
}

.flash--success {
	background: #6b3;
	color: #fff;
}

.flash--error {
	background: #c00;
	color: #fff;
}

.flash--info {
	background: #28afcc;
	color: #fff;
}




/***** header *****/

.header-intro {
	display: block;
	font-size: 1em;
	line-height: 1;
	color: #ccc;
}

.header-name {
	font-family: @sans-font;
	font-weight: 700;
	font-size: 2.5em;
	line-height: 1;
	margin: 0;
}

.header-motto {
	font-family: @sans-font;
	font-size: 1.5em;
	line-height: 1;
	color: @blue;
	margin: .5em 0 1.5em;
}

.header--inline {
	margin-bottom: 2em;
}

.header--inline-name {
	display: inline-block;
	font-family: @sans-font;
	font-weight: 700;
	font-size: 1.4em;
	margin-right: .5em;

	a {
		text-decoration: none;

		&:hover {
			background: inherit;
			color: #000;
		}
	}
}

.header--inline-motto {
	display: inline;
	font-family: @sans-font;
	font-size: 1.2em;
	color: @blue;
}



/***** navigation *****/

.menu {
	position: relative;

	&:before {
		content: "☰"; // &#9776;
		position: absolute;
		left: -2em;
	}
}

.menu ul {
	padding-left: 0;
	font-family: @sans-font;
}

.menu li {
	list-style-type: none;
	display: inline-block;

	&:not(:last-child) {
		margin-right: 1em;
	}
}

.menu a {
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;

	padding: 0 .5em .33em;

	&.active, &:hover {
		font-weight: bold;
		background: inherit;
		border-bottom: 4px solid @blue-dark;
	}
}



/***** about me *****/

.lede {
	font-size: 1.2em;
}

.photo {
	max-width: 250px;
	width: 100%;
	float: right;
	border-radius: 50%;
	margin: 1.5em 0 .75em 1.5em;

	@media (max-width: 580px) {
		float: none;
		margin-top: 0;
		margin-left: 0;
	}
}

.flex-container {
	display: flex;
	justify-content: space-between;

	@media (max-width: 580px) {
		display: block;
	}
}

.flex-item {
	flex: 0 1 48%;

	@media (max-width: 580px) {
		margin-bottom: 3em;
	}
}

.postsList, .eventsList {
	padding: 0;

	li {
		list-style-type: none;
		margin-bottom: 1em;
	}
}



/***** category header *****/

.category--title, .category--description {
	display: inline;
}

.category--title {
	margin-right: .4em;
}

.category--description {
	.post-info;

	@media (max-width: 580px) {
		display: block;
	}
}




/***** newsletter subscription *****/

.newsletterSubscription {
	margin: -1em;
	padding: 1em;
	background: #eee;
	font-family: @sans-font;
	font-size: .9em;

	input {
		font-size: 1em;

		&[type="email"] {
			padding: .5em;
		}
	}
}



/***** posts & events *****/

.post-title, .event-title {
	font-family: @sans-font;
	font-size: 1.67em;
	margin: 0;
}

.post-title--top, .event-title--top {
	font-size: 1.8em;
}

.post-title--small, .event-title--small {
	font-size: 1.2em;
	line-height: 1;
}

.post-info, .event-info {
	font-family: @sans-font;
	font-size: .8em;
	line-height: 1;
	color: #999;
	margin: 1em 0 3em;
}

.event-datetime {
	font-family: @sans-font;
}

.event-date {
	color: @blue;
	font-weight: bold;
}

.event-buttons {
	padding: 1.1em 0 0 0;
}

.post-info--small, .event-info--small {
	margin: 0 0 1em;
}

.post--list, .event--list {
	border-bottom: 1px solid #ccc;
}

.post-body {
	margin-bottom: 3em;
}


/***** blog *****/

.post-perex {
	font-size: 1.15em;
}

.post-body p {
	line-height: 1.67;
}

.post-body h2 {
	line-height: 1.5;
	margin-top: 1.5em;
}

.post-body .figure {
	margin: 1.5em;

	img {
		max-width: 100%;
	}

	p {
		font-family: @sans-font;
		font-size: .8em;
		color: #999;
		margin: 0;
	}
}

.paginator {
	text-align: center;
	font-family: @sans-font;
	font-size: .9em;
	list-style-type: none;
	padding: 0;
}

.paginator-page {
	display: inline-block;

	&:not(:last-child) {
		margin-right: 1em;
	}
}

.share {
	text-align: center;
}


/***** chords *****/

.post-chords-controls {
	font-family: @sans-font;
	font-size: .9em;
	margin-bottom: 1.5em;

	a {
		color: @blue;

		&:hover {
			color: @blue-dark;
			background: transparent;
			text-decoration: underline;
		}
	}
}

// inspired by Petr pixy Staníček
// http://wellstyled.com/singlelang.php?lang=en&page=css-chords-formatting.html

.chord strong {
	font-family: @sans-font;
	font-weight: bold;
	font-size: .9em;
	line-height: 1;
	color: @blue-dark;
	margin: 0 .33em;
}

.chord strong span {
	display: none;
}



/***** attachments *****/

.attachment {
	font-family: @sans-font;
	font-size: .9em;
	margin-bottom: 1.5em;
}

.attachment--title {
	font-weight: bold;
}

.attachment--title--meta {
	font-weight: normal;
}

.attachment--download {
	font-family: @sans-font;
	font-size: .9em;
	color: #999;
}



/***** license footer *****/

.license {
	text-align: right;
}

.license a {
	color: #777;
	text-decoration: none;
	background: inherit;
}

.license img {
	max-width: 32px;
	vertical-align: middle;
}



/***** print *****/

.onlyprint {
	display: none;
}

@media print {
	.noprint, audio {
		display: none;
	}

	.onlyprint {
		display: inline-block;
	}

	p {
		page-break-inside: avoid;
	}

	.license {
		font-size: .8em;

		img {
			max-width: 16px;
		}
	}
}
