{form form class => 'adminForm'}
	<div n:foreach="$form->errors as $error" class="flash flash--error">
		<span class="fa fa-exclamation-triangle"></span> {$error}
	</div>

	<p>
		{label subject /}
		{input subject}
	</p>
	<p>
		{label text /}
		{input text}
	</p>
	<p>
		{input send class => 'btn'}
	</p>
{/form}
