php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	scanDirs: false
	scanComposer: true
	mapping:
		*: Herecsrymy\*Module\Presenters\*Presenter


http:
	csp:
		default-src:
			- self
		connect-src:
			- self
			- https://syndication.twitter.com
		object-src:
			- none
		script-src:
			- strict-dynamic
			- nonce
			- unsafe-inline
			- "https:"
		style-src:
			- self
			- unsafe-inline
			- https://maxcdn.bootstrapcdn.com
			- https://*.disquscdn.com
			- https://fonts.googleapis.com
		img-src:
			- self
			- https://maps.googleapis.com
			- https://*.gstatic.com
			- https://www.google-analytics.com
			- https://*.disquscdn.com
			- https://referrer.disqus.com
			- https://static.flattr.net
			- https://www.facebook.com
			- https://*.twitter.com
			- "data:"
		font-src:
			- self
			- https://maxcdn.bootstrapcdn.com
			- https://fonts.gstatic.com
			- "data:"
		child-src:
			- self
			- https://disqus.com
			- https://*.flattr.com
			- https://*.addthis.com
			- https://*.facebook.com
			- https://platform.twitter.com
		upgrade-insecure-requests:
		block-all-mixed-content:
		report-uri: https://jiripudil.report-uri.io/r/default/csp/enforce


session:
	expiration: 14 days
	cookieSecure: on
	sidLength: 64
	sidBitsPerCharacter: 6


extensions:
	autowired: Kdyby\Autowired\DI\AutowiredExtension
	console: Kdyby\Console\DI\ConsoleExtension
	events: Kdyby\Events\DI\EventsExtension
	annotations: Kdyby\Annotations\DI\AnnotationsExtension
	doctrine: Kdyby\Doctrine\DI\OrmExtension
	migrations: Nettrine\Migrations\DI\MigrationsExtension
	translation: Kdyby\Translation\DI\TranslationExtension
	monolog: Kdyby\Monolog\DI\MonologExtension
	fakeSession: Kdyby\FakeSession\DI\FakeSessionExtension
	gpsPicker: VojtechDobes\NetteForms\GpsPickerExtension
	webpack: Oops\WebpackNetteAdapter\DI\WebpackExtension(%debugMode%)
	herecsrymy: Herecsrymy\DI\HerecsrymyExtension


doctrine:
	defaultRepositoryClass: Kdyby\Doctrine\EntityRepository
	metadata:
		Herecsrymy: %appDir%/Entities
	types:
		point: Herecsrymy\Doctrine\Types\PointType
	dql:
		string:
			isNull: Herecsrymy\Doctrine\Dql\IsNull
			distance: Herecsrymy\Doctrine\Dql\EarthDistance


monolog:
	name: herecsrymy
	handlers:
		- Monolog\Handler\StreamHandler(%appDir%/../log/error.log)
		- Monolog\Handler\SyslogHandler(herecsrymy, local4)


webpack:
	devServer:
		url: https://localhost:3000
	manifest:
		name: manifest.json
	build:
		directory: %wwwDir%/dist
		publicPath: dist/


migrations:
	namespace: Herecsrymy\Migrations


decorator:
	Kdyby\Events\Subscriber:
		tags: [kdyby.subscriber]
	Symfony\Component\Console\Command\Command:
		tags: [kdyby.console.command]
