php:
	date.timezone: Europe/Prague


nette:
	application:
		errorPresenter: Error
		mapping:
			*: Herecsrymy\*Module\Presenters\*Presenter
	session:
		expiration: 14 days
		cookieSecure: on


extensions:
	autowired: Kdyby\Autowired\DI\AutowiredExtension
	console: Kdyby\Console\DI\ConsoleExtension
	events: Kdyby\Events\DI\EventsExtension
	annotations: Kdyby\Annotations\DI\AnnotationsExtension
	doctrine: Kdyby\Doctrine\DI\OrmExtension
	migrations: Zenify\DoctrineMigrations\DI\MigrationsExtension
	translation: Kdyby\Translation\DI\TranslationExtension
	jirihraje: Herecsrymy\DI\HerecsrymyExtension


doctrine:
	metadata:
		Herecsrymy: %appDir%/Entities
	dql:
		string:
			isNull: Herecsrymy\Doctrine\Dql\IsNull


migrations:
	namespace: Herecsrymy\Migrations
