<div>
	<div class="worksItem" n:foreach="$posts as $post">
		<div class="worksItem-title">
			<a href="{plink Post: $post}" class="ajax">
				{$post->title}
			</a>
		</div>
		<div class="worksItem-description">{$post->description}</div>
		<div class="worksItem-published">
			<span class="fa fa-calendar" title="Publikováno"></span>
			<time datetime="{$post->publishedOn|date:'Y-m-d H:i'}" title="{$post->publishedOn|czechDate}">
				{$post->publishedOn|ago}
			</time>
		</div>
	</div>
</div>
<div class="button--more">
	<a href="{plink Posts:}" class="ajax">
		Zobrazit další
	</a>
</div>
