:root {
	--font-serif: 'Merriweather', serif;
	--font-sans: 'Source Sans Pro', sans-serif;

	--color-blue: #3390e6;
	--color-blue-dark: #145c9f;

	--breakpoint-mobile: 670px;
	--breakpoint-tablet: 960px;
}

body {
	padding: 0;

	background: #e0e0e0;
	color: #222;

	font-family: var(--font-sans);
	font-size: 1.1rem;
	font-weight: 400;
	line-height: 1.5;
}

a {
	color: #222;
}

a:hover {
	color: #000;
	text-decoration: none;
}

h1 {
	font-family: var(--font-serif);
	font-size: 2rem;
}

h2 {
	font-family: var(--font-serif);
	font-size: 1.5rem;
}

h3 {
	font-family: var(--font-serif);
	font-size: 1.25rem;
}

svg {
	width: 1em;
	height: 1em;
}
