{if count($events) === 0}
	<div>
		<p>V&nbsp;nejbližší době bohužel nic nechystám.</p>
	</div>
{else}
	<div>
		<div class="event" n:foreach="$events as $event">
			<div class="event-datetime">
				<time datetime="{$event->datetime|date:'Y-m-d H:i'}">
					<span class="event-date">{$event->datetime|date:'j. n. Y'}</span>
					<span class="event-time">{$event->datetime|date:'H.i'}</span>
				</time>
			</div>
			<div class="event-title">{$event->name}</div>
			<div class="event-location">
				<a n:tag-if="$event->location->point" href="{$event|map}" title="Zobrazit mapu"><span class="fa fa-map-marker" aria-label="Zobrazit mapu"></span></a>
				{$event->location->name}, {$event->location->address}
			</div>
		</div>
	</div>
	<div class="button--more">
		<a href="{plink Events:}" class="ajax">
			Zobrazit další
		</a>
	</div>
{/if}
