{block #content}

<h1>Písničkář Jiří Pudil</h1>

<h2>Poslední aktuality</h2>
<ul>
	<li n:foreach="$latestNews as $post">{$post->title}</li>
</ul>

<h2>Nadcházející koncerty</h2>
<ul>
	<li n:foreach="$upcomingConcerts as $concert">{$concert->name}</li>
</ul>

<h2>Nejnovější album</h2>
<p n:ifset="$latestAlbum">{$latestAlbum->title}</p>
