.events {
	.event {
		padding: 1em 0;

		&:not(:last-child) {
			border-bottom: 1px solid #ccc;
		}

		.event-date {
			font-weight: bold;
			color: $color-blue-dark;
		}

		.event-time {
			font-style: italic;
			font-size: .9em;
		}

		.event-title {
			margin-top: .5em;
			font-size: 1.1em;
			font-weight: bold;
		}

		.event-links {
			margin-top: .5em;

			a {
				padding: .25em;
				background: #e0e0e0;
				text-decoration: none;
				font-size: .9em;

				&:not(:last-child) {
					margin-right: .5em;
				}
			}
		}
	}
}
