<!doctype html>
<html lang="cs">
{control head}
<body>
<div class="container">
	{control header}

	<div class="sep cf"></div>

	{control mainMenu}

	<div class="sep cf"></div>

	{include #content}

	{control googleAnalytics}
</div>
</body>
</html>
