<div class="license">
	<a href="//creativecommons.org/licenses/by-nc/4.0/" title="Licencováno pod Creative Commons Uveďte autora-Neužívejte komerčně 4.0 Mezinárodní">
		<img src="{$basePath}/static/images/cc.large.png" title="Creative Commons Uveďte autora-Neužívejte komerčně 4.0 Mezinárodní"><img src="{$basePath}/static/images/by.large.png" title="Creative Commons Uveďte autora-Neužívejte komerčně 4.0 Mezinárodní"><img src="{$basePath}/static/images/nc-eu.large.png" title="Creative Commons Uveďte autora-Neužívejte komerčně 4.0 Mezinárodní">
		není-li uvedeno jinak
	</a>
</div>
