<!doctype html>
<html lang="cs-CZ">
<head>
	<meta charset="utf-8">
	<title>Jiří Pudil</title>

	<link rel="stylesheet" href="{$basePath}static/css/styles.css">
	<script src="{$basePath}static/js/scripts.js"></script>
</head>
<body>

	{include #content}

</body>
</html>
