<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title n:inner-block="title">{$subject} &ndash; herecsrymy.cz</title>
</head>
<body>
	<h1>{include #title}</h1>

	{$text|texy|noescape}

	<p style="font-size: .9em; color: #424242">
		Jestli podobné e-maily už nechcete dostávat, klikněte na následující odkaz a budete od odběru novinek odhlášeni:
		<a href="{$unsubscribeLink}">{$unsubscribeLink}</a>
	</p>
</body>
</html>
